

body, h1, h2, h3, h4, h5, h6, p {
  margin : 0;
  padding : 0;

}

body {
  font-family: 'KoHo', sans-serif;
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: 1fr 300px 850px 1fr;
}


h1 {
  font-size: 2.5em;
}


h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

h5 {
  color: #CA481A;
  font-family: 'Josefin Sans', sans-serif;
}
header {
  grid-row: 1;
  grid-column : 2 / 4;
  display: grid;
  grid-template-columns: 350px 1fr;
  padding-bottom: 10em;
  border-bottom: 1px solid grey;
}


.infos-nom {
  grid-column: 1;
  background-color: white;
  margin: 1em 0;
 }

.infos-nom h2 {
  font-size: 2.25em;
  color: #0093BB;
}

.phone {
  display: flex;
  margin: 0 auto;
  font-size: 2.6em;
  color: #CA481A;
}

.phone i {
  padding-top: 0.3em;
  padding-right: 1em;
}
.photo {
  grid-column: 2;
  margin: 1em 0;
}

.photo img {
  height: 12em;
  float: right;
}
/* fin du header */
.container {
  grid-row: 2;
  grid-column : 2 / 4;
  display: grid;

  grid-template-columns: 350px 1fr;
  text-align: justify;
}
.container p, .container h4, h5 {
  margin-bottom: 1em;
}
.left-column {
    grid-column: 1;
    min-width: 350px;
    border-right: 1px solid  grey;
    color: grey;
}
.right-column {
    grid-column: 2;
  padding-left: 4em;
}

.titre {
  display: flex;
  color: #0093BB;
  font-size: 2em;
  margin-top: 2em;
}

.titre h4 {
  margin-left: 1em;
}


.icon-align {
    display: flex;
    border-bottom: 0.2px solid grey;
    margin-bottom: 1em;
    width: 70%;
}
.icon-align p {
    margin-left: 3em;
}
.aptitudes {
}
.star-align {
    display: flex;
    border-bottom: 0.2px solid grey;
    margin-bottom: 1em;
    width: 70%;
}
.star-align p {
    margin-right: 1em;
}
.star {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 0 6em 0 auto;
}

.langues {
}
.outils {
}
.profil {
  grid-column: 2;
}

.experiences {
  grid-column: 2;
  margin-top: 2em;
}

.formations {
  grid-column: 2;
  margin-top: 2em;
}
.passions-chiffres-container {
  display: 	grid;
  grid-template-columns: 50% 50%;
  margin: 2em auto;
}
.passions {
  grid-column: 1;
  margin-top: 2em;
}

.chiffres {
  grid-column: 2;
  margin: 2em auto 0 auto;
}
